/* ==================== notification styling ==================== */

div.notificationArea {
  border: 1px solid #bbbbbb;
  border-radius: 0.5em 0 0 0.5em;
  padding: 2em 2em 2em 3em;
  top: 0;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0 0 7px rgba(0,0,0,.2);
  display: none;
  position: absolute;
  z-index:100;
}

div.notificationArea > h1 {
    font-size: 110%;
    color: #990000;
    margin: 0;
}